/* prevent text highlighting on double click*/
#calc-wrapper {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#calc-wrapper {
	border: 5px solid rgb(147, 147, 147);
	width: 261px;
	height: 431px;
	cursor: pointer;
}

#screen-wrapper {
	width: 100%;
	background-color: black;	
	margin-right: 10px;
}

#calc-screen {
	margin-right: 20px;
	height: 105px;
	text-align: right;
	line-height: 110px;
	font-size: 45px;
	color: #FFF;
}


/* for the numpad */
.num {
	margin: -1px;
	border: 1px solid black;
	float: left;
	width: 65px;
	height: 65px;
	text-align: center;
	line-height: 65px;
	font-size: 30px;
	color: #000;
	background-color: #F5F5F5;
}

.num:active {
	background-color: #D8D1D1;
}

.zero {
	width: 130px;
}

.op {
	background-color: orange;
	color: #FFF;
}

.op:active {
	background-color: #FFCE33;
}	